@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;500;600;700&display=swap');

:root {
    --red: #FF3D00;
}

body {
    font-family: 'Khand', Helvetica, sans-serif;
    background-color: white;
}

button {
    font-family: 'Khand', Helvetica, sans-serif;
}

/*
* header
*/

.header {
    height: 100px;
    width: 100vw;

    display: flex;
    align-items: center;

    background-color: white;

    box-shadow: 0px 3px 10px lightgray;

    gap: 20px;
}

.company-name {
    font-size: clamp(0px,8vw,50px);
    font-weight: 800;
    white-space: nowrap;
    color: var(--red);
    
    flex: 1;

    text-align: center;
}

.header>button {
    width: auto;
    height: 50px;

    font-size: 30px;
    font-weight: 600;
    color: black;

    background-color: white;
    border: none;
}

.header>button:first-of-type {
    margin-left: 50px;
}

.header-contact-button {
    margin-right: 50px;
}

.header>button:hover {
    color: var(--red);
}

/*
* overflow menu
*/

.overflow-menu-button-open {
    visibility: hidden;
    position: absolute;
    left: 20px;

    height: 50px;
    width: 50px;

    min-height: 50px;
    min-width: 50px;
}

.overflow-menu-button-open:hover {
    background: none;
    filter: invert(32%) sepia(95%) saturate(4033%) hue-rotate(3deg) brightness(105%) contrast(104%);
}

.overflow-menu-button-close {
    height: 50px;
    width: 50px;

    font-size: 40px;
    font-weight: 800;
    color: lightgray;

    background-color: white;
    border: none;

    align-self: flex-end;
}

.overflow-menu-button-close:hover {
    color: darkgray;
}

.overflow-menu-button-close:active {
    color: rgb(129, 129, 129);
}

.overflow-menu {
    visibility: hidden;

    height: 100vh;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: -1px 0px 5px darkgray;
}

.overflow-menu.active {
    visibility: visible;
}

.overflow-menu-button-home, .overflow-menu-button-menu, .overflow-menu-button-contact {
    height: 50px;
    
    font-size: 20px;
    font-weight: 600;
    text-align: left;

    background-color: white;
    border: none;
    padding-left: 20px;
}

.overflow-menu-button-home:hover, .overflow-menu-button-menu:hover, .overflow-menu-button-contact:hover {
    background-color: var(--red);
    color: white;
}

.overflow-menu-button-home:active, .overflow-menu-button-menu:active, .overflow-menu-button-contact:active {
    background-color: darkred;
}

/*
* main content
*/ 

.content-area {
    width: 100vw;
    height: calc(100vh - 100px);

    background-image: 
    linear-gradient(45deg, black 25%, transparent 25%),
    linear-gradient(-45deg, black 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, black 75%),
    linear-gradient(-45deg, transparent 75%, black 75%);

    --square-size: 60px;

    background-size: var(--square-size) var(--square-size);
    background-position: 0 0, 0 calc(var(--square-size) / 2), calc(var(--square-size) / 2) calc(var(--square-size) / -2), calc(var(--square-size) / -2) 0px;

    display: flex;
    justify-content: center;
}

/*
* pages
*/

.menu-page , .home-page , .contact-page {
    --margin: 20px;
    
    height: calc(100vh - 100px - 2 * var(--margin));
    width: min(80vw,700px);
    box-sizing: border-box;
    border-radius: 20px;
    margin: var(--margin);
    border: 10px solid white;
    gap: 10px;

    display: grid;

    background-color: white;
    overflow: scroll;

    box-shadow: 15px 15px var(--red);
}

/*
* home page
*/

.diner-image {
    width: 100%;
    border-radius: 10px;
}

.tagline {
    font-size: 40px;
    font-weight: 800;
}

.home-content {
    display: flex;
    padding: 10px;
}

/*
* hours
*/

.hours-container {
    flex: 1;
}

.hours-title , .address-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hours-item {
    display: flex;
}

.hours-item>.day {
    flex: 1;
}

.hours-item>.day:after {
    content: ':';
}

.hours-item>.hours {
    flex: 1;
}

/* 
* address
*/ 

.address-container {
    flex: 1;
}

/*
* menu page
*/

.menu-page>.category-container {
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px;
}

.menu-page>.category-container>.category-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.items-flexbox {
    display: grid;
    gap: 10px;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.item-name {
    font-weight: 600;
}

/*
* contact page
*/

.contact-page {
    padding: 20px;
}

.page-title {
    font-size: 30px;
    font-weight: 600;
}

.contact-page>.phone-container, .contact-page>.address-container {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    gap: 20px;
}

.phone-label , .address-label {
    flex: 1;
    text-align: right;
}

.phone-value , .address-value {
    flex: 2;
}

/*
* dynamic resizing
*/

@media screen and (max-width: 840px) {
    .header>button:not(.overflow-menu-button-open) {
        display: none;
    }
    .overflow-menu-button-open {
        visibility: visible;
    }

}