@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;500;600;700&display=swap');

body {
    font-family: 'Khand', Helvetica, sans-serif;
    background-color: red;
}

/*
* header
*/

.header {
    height: 100px;
    width: 100vw;

    display: flex;
    align-items: center;

    background-color: white;
}

.company-name {
    font-size: clamp(0px,8vw,50px);
    font-weight: 800;
    white-space: nowrap;
    color: red;
    
    margin-left: 30px;
    margin-right: 30px;

}

.header-spacer {
    flex: 1;
}

/*
* menu bar
*/

.menu-bar {
    display: flex;
    gap: 20px;

    margin-right: 45px;
}

.menu-bar>button {
    width: auto;
    height: 50px;

    font-size: 20px;
    font-weight: 600;
    color: white;

    background-color: red;
    border: none;
}

.menu-bar>button:hover {
    color: rgb(180, 0, 0);
}

.menu-bar>button:active {
    color: darkred;
}

/*
* overflow menu
*/

.overflow-menu-button-open {
    visibility: hidden;
    position: absolute;
    right: 30px;

    height: 50px;
    width: 50px;

    border: none;
    background: none;

    filter: invert(100%) sepia(6%) saturate(7423%) hue-rotate(214deg) brightness(107%) contrast(118%);
}

.overflow-menu-button-open:hover {
    filter: invert(10%) sepia(78%) saturate(4402%) hue-rotate(354deg) brightness(94%) contrast(116%);
}

.overflow-menu-button-close {
    height: 50px;
    width: 50px;

    font-size: 40px;
    font-weight: 800;
    color: lightgray;

    background-color: white;
    border: none;
}

.overflow-menu-button-close:hover {
    color: darkgray;
}

.overflow-menu-button-close:active {
    color: rgb(129, 129, 129);
}

.overflow-menu {
    visibility: hidden;

    height: 100vh;
    width: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;

    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: -1px 0px 5px darkgray;
}

.overflow-menu.active {
    visibility: visible;
}

.overflow-menu-button-home, .overflow-menu-button-menu, .overflow-menu-button-contact {
    height: 50px;
    
    font-size: 20px;
    font-weight: 600;
    text-align: left;

    background-color: white;
    border: none;
    padding-left: 20px;
}

.overflow-menu-button-home:hover, .overflow-menu-button-menu:hover, .overflow-menu-button-contact:hover {
    background-color: red;
    color: white;
}

.overflow-menu-button-home:active, .overflow-menu-button-menu:active, .overflow-menu-button-contact:active {
    background-color: darkred;
}

/*
* home page
*/

.diner-image {
    width: 100%;
    border-radius: 10px;
}

.tagline {
    font-size: 40px;
    font-weight: 800;
}

.home-content {
    display: flex;
    padding: 10px;
}

/*
* hours
*/

.hours-container {
    flex: 1;
}

.hours-title , .address-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hours-item {
    display: flex;
}

.hours-item>.day {
    flex: 1;
}

.hours-item>.day:after {
    content: ':';
}

.hours-item>.hours {
    flex: 1;
}

/* 
* address
*/ 

.address-container {
    flex: 1;
}

/*
* menu page
*/

.menu-page , .home-page , .contact-page {
    --margin: 20px;
    
    height: calc(100vh - 100px - 2 * var(--margin));
    box-sizing: border-box;
    border-radius: 10px;
    margin: var(--margin);
    border: 10px solid white;
    gap: 10px;

    display: grid;

    background-color: white;
    overflow: scroll;
}

.menu-page>.category-container {
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px;
}

.menu-page>.category-container>.category-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.items-flexbox {
    display: grid;
    gap: 10px;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.item-name {
    font-weight: 600;
}

/*
* contact page
*/

.contact-page {
    padding: 20px;
}

.page-title {
    font-size: 30px;
    font-weight: 600;
}

.contact-page>.phone-container, .contact-page>.address-container {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    gap: 20px;
}

.phone-label , .address-label {
    flex: 1;
    text-align: right;
}

.phone-value , .address-value {
    flex: 2;
}

/*
* dynamic resizing
*/

@media screen and (max-width: 780px) {
    .menu-bar {
        display: none;
    }
    .header-spacer {
        display: none;
    }
    .overflow-menu-button-open {
        visibility: visible;
    }

}